<div class="chart">
  <apx-chart
    [chart]="chart"
    [series]="series"
    [theme]="theme"
    [annotations]="attr['annotations']"
    [colors]="attr['colors']"
    [dataLabels]="attr['dataLabels']"
    [stroke]="attr['stroke']"
    [labels]="attr['labels']"
    [legend]="attr['legend']"
    [fill]="attr['fill']"
    [tooltip]="attr['tooltip']"
    [plotOptions]="attr['plotOptions']"
    [markers]="attr['markers']"
    [noData]="attr['noData']"
    [xaxis]="attr['xaxis']"
    [yaxis]="attr['yaxis']"
    [grid]="attr['grid']"
    [title]="attr['title']"
    [subtitle]="attr['subtitle']"
  ></apx-chart>
</div>
