.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.loading-bar {
  position: absolute;
}

.content {
  height: 100%;
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 24px 0 24px 0;
}

.header,
.footer {
  flex: 0 0 auto;
}
.footer {
  display: flex;
  justify-content: space-between;

  span {
    font-size: smaller;
    font-weight: lighter;
  }
}

.logo {
  height: 100%;
  width: 10%;
  padding: 12px 0 12px 0;
}
