name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:v1
      
    - name: Azure Container Registry Login
      uses: Azure/docker-login@v1
      with:
    # Container registry username
        username: password1
    # Container registry password
        password: i+MTnmUUEoqe9GcnojItwgpmZUgn4917bWAiQ1Ze85+ACRA5Ctvk
    # Container registry server url
        login-server: https://devsecopscelula.azurecr.io
        
    - name: acr-sign-push
  # You may pin to the exact commit or the version.
  # uses: dodopizza/acr-sign-push-action@6688de830a974866ae37da84ecf180b5aed8ebaf
      uses: dodopizza/acr-sign-push-action@0.1.2
      with:
    # image tags separated by comma, example: example.azurecr.io/app:latest
        tags: my-image-name:v1
    # signer key id (hash)
        signer-key-id: DevSecOpsCelula
    # signer key content base64 encoded
        signer-key: i+MTnmUUEoqe9GcnojItwgpmZUgn4917bWAiQ1Ze85+ACRA5Ctvk
    # repository passphrase
        repository-passphrase: password1
