name: Docker Image CI

on:
  push:
    branches: [ "main" ]
env:
  IMAGE_NAME: my-image-name
  
jobs:
  BuildAndPush:
    name: Build And Push Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Log into registry
        uses: docker/login-action@v1
        with:
          registry: https://devsecopsregaxyt.azurecr.io
          username: DevSecOpsRegAxyt
          password: W8Fx5zWBVjmA7H0q7smrHp14jrm3vPD0RSM/1UdaiV+ACRAfnlq+
      - name: Build & Push
        uses: docker/build-push-action@v2
        with:
          push: true
          build-args: |
            version= 1.0
          tags: devsecopscelula.azurecr.io/my-image-name:${{ github.run_number }}
